:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px; /*Esto significa espacio entre las cards*/
    place-content: center; /*Alineamos toda la grid en el centro*/
}

.product-card{
    width: 240px;
}

.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;  /*Lo que hace es que esta imagen va a tener su tamaño tal cual independiente del width y del height*/
}

.product-info {
   display: flex;
   justify-content: space-between; /*Se alinean los elementos tanto vertical como horizontalmente*/
   align-items: center;
   margin-top: 12px; 
}

.product-info figure {
    margin: 0;
}

.product-info figure img {
    width: 35px;
    height: 35px;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media (max-width: 640px) {
    
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
        gap: 26px; /*Esto significa espacio entre las cards*/
    }

    .product-card{
        width: 140px;
    }
    
    .product-card img{
        width: 140px;
        height: 140px;
    }
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;  /*Es necesario este tipo de display para el siguiente comando*/
    place-items: center;   /*Esto me centra todo el contenido a la mitad*/
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;    
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center; /*Con esto alineamos el logo*/
    display: none;      /*Esto es para que no aparezca en desktop*/
}

.title {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
}

.subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

.secondary-button {
    background-color: var(--white);
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(md);
    font-weight: bold;
    height: 50px;
}


.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}


@media (max-width: 640px) {
    .form-container {
        height: 100%;
    }
    
    .form{
        height: 100%;
        justify-content: space-between;
    }

    
}



